h1{
	margin-left:0px;
}
h2{
	margin-left:10px;
}
h3{
	margin-left:20px;
}
h4{
	margin-left:30px;
}
h5{
	margin-left:40px;
}
h6{
	margin-left:50px;
}
.link{
	text-decoration:underline;
}
article{
	width:75%;
}
blockquote{
	background-color:#CACACA;
	border-radius:10px;
	padding:9px;
	box-shadow:2px 2px 1px #888888;
	
}
#logo{
	height:100px;
	width:auto;
	float:right;
	margin-right:25%
}
.bloccode{
	width:75%;
	margin-left:10px;
	display:block;
	background-color:#CCCCCC;
}
table
{
    border-collapse: collapse; 
}
td
{
    border: 1px solid black;
}
main{
	width:70%;
	height:auto;
}

.pong{
	width:40%;
	height:auto;
}
