.menu{
	border-style:solid;
	box-shadow:4px 2px 1px;
	background-color: #D7CFAF;
}

#menuH{
	width:95%;
	height:10%;
	border-radius:10px;
}
.items{
	display:inline-block;
	text-align:center;
	margin: 10px;
	border-style:ridge;
	height:20%;
	width:20%;
	vertical-align:top;
	background-color: #D7D0B4;
	box-shadow:1px 0px 1px;
	border-radius:10px;
}

#menuL{
	width:20%;

}

.PT,.ST,.autre{
	display:none;
	width:75%;
	height:25%
}
#PT:hover ul>.items{
	display: block;
	box-shadow:1px 0px 1px;
}
#ST:hover ul>.items{
	display: block;
	box-shadow:1px 0px 1px;
}
#autre:hover ul>.items{
	display: block;
	box-shadow:1px 0px 1px;
}
#content{
	display:none;
}
aside{
	margin-left:78%;
	position: fixed;
}
a{
	color:black;
	text-decoration:none;
}
footer{
	float:right;
	margin:10px;
}
